*.cache
obj/Debug/net6.0-windows/ref/OxLibrary.dll
obj/Debug/net6.0-windows/OxLibrary.dll
obj/Debug/net6.0-windows/TempPE/OxIcons.Designer.cs.dll
obj/Debug/net6.0-windows/OxLibrary.pdb
obj/Debug/net6.0-windows/refint/OxLibrary.dll
bin/Debug/net6.0-windows/OxLibrary.dll
bin/Debug/net6.0-windows/OxLibrary.pdb
bin/Debug/net6.0-windows
obj/Debug/net6.0-windows
obj
